@charset "UTF-8";

    /* 
    Paleta de cores
    Verde: #49a09d
    Lilas: #5f2c82
    */

    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;

    }

    body,html{
        background-color: #5f2c82;
        height: 100vh;
        width: 100vw;
    }

    main{
        position: relative;
        height: 100vh;
        width: 100vw; 
    }
    section#login{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
        
        background-color: white;
        width: 250px;
        height: 510px;
        border-radius: 20px;
        
        transform: translate(-50%, -50%);
        transition: width 0.3s, height 0.3s;
        transition-timing-function: ease;
    }

    section#login > div#imagem{
        background:#5f2c82 url(../imagens/pexels-kevin-bidwell-1373100.jpg)no-repeat;
        background-size: cover;
        background-position: center;
        height: 200px;
        
    }
    section#login > div#formulario{
        display: block;
        padding: 10px;
    }

    div#formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    div#formulario > p{
        font-size: 0.8em;
    }

    form > div.campo{
        background-color: #5f2c82;
        border: 2px solid #5f2c82;
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        margin: 8px 0px;
    }

    div.campo > label{
        display: none;
    }

    div.campo > span{
        color: white;
        font-size: 2.1em;
        width: 40px;
        padding: 5px;
    }

    div.campo > input{
        background-color:#b9fffd;
        font-size: 1em;
        /* falta width */
        width: calc(100% - 45px);
        height: 38px;
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        transform: translateY(-11px);
        
        
    }

    div.campo > input:focus-within{
        background-color: white;
        outline: none;
    }

    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #49a09d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }

    form > input:hover[type=submit]{
        background-color:#285c5a;
    }

    form > a.botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        margin-top: 5px;
        padding-top: 7px;
        background-color: white;
        color: #285c5a;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid #49a09d;
    }

    form > a.botao:hover{
        background-color:#60d3cf ;
    }

    form > a.botao > span{
        font-size: 0.8em;
    }